DB_NAME=presensi_magang_database_new
DB_HOST=127.0.0.1
REFRESH_TOKEN_SECRET=asiudniadiuashuidiauhsiudvywybweauidauvijpij
DB_USER=root
JWT_KEY=auidhaisuhdiasuohduiadizioasdkvalsdaiosdcn
DB_PORT=3306
DB_PASSWORD=
# ORIGIN = http://localhost:3001
ORIGIN = [http://localhost:3001, http://192.168.1.32:3001, https://diskominfo-smg-magang.cloud]
